ENV='example'

# API setiings General
DEFAULT_REQUEST_TIMEOUT=60
REQUEST_RETRIES=3
AUTH_KEY='special-key'

#RESTFULL BOOKER
#API settings
RESTFULL_BASE_API_URL='https://automationintesting.online/api'

# users
RESTFULL_USER=
RESTFULL_PASSWORD=

# UI settings
BASE_UI_URL='https://automationintesting.online/'
DOMAIN='automationintesting.online'
BROWSER='chromium'
DEVICE=
HEADLESS=True
SLOW_MO=100

# DB settings
USER=your_user
PASSWORD=your_password